{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}User Authentication{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <div class="header-content">
            <h1>Glad to see you!</h1>
            <nav>
                <ul class="nav-links">
                    {% if user.is_authenticated %}
                        <li class="welcome-text">Welcme, {{ user.username }}</li>
                        <li><a href="{% url 'logout' %}">Exit</a></li>
                        <li><a href="{% url 'book_list' %}">Book List</a></li>
                        <li><a href="{% url 'create_book' %}">Add new bok</a></li>

                    {% else %}
                        <li><a href="{% url 'home' %}">Home page</a></li>
                        <li><a href="{% url 'login' %}">Login</a></li>
                        <li><a href="{% url 'register' %}">Register</a></li>
                        <li><a href="{% url 'book_list' %}">Book list</a></li>

                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>

    <div class="auth-wrapper container">
        <main class="auth-content">
            {% block content %}
            {% endblock %}
        </main>
    </div>
</body>
</html>
