
{% extends 'base.html' %}

{% block content %}
<div class="home-container">
    <div class="hero-section">
        <h1>Welcome to the Book Blog!</h1>
        <p>Explore, read and share your impressions of books!</p>
        <a href="{% url 'book_list' %}" class="cta-button">View books</a>
    </div>
    <div class="info-section">
        <h2>Aboout us</h2>
        <p>We created this site for book lovers, where everyone can find something for themselves. Immerse yourself in the world of literature with us!</p>
    </div>
</div>
{% endblock %}
